<div class="container">
    <div class="containWeather">
        <div class="mainW">
            <div class="mainDays">
                Today
                <div class="">
                    <img src="http://openweathermap.org/img/wn/{{days?.list[0].weather[0].icon}}@2x.png" alt="WeatherImg">
                    <p>{{days?.list[0].weather[0].description}}</p>
                </div>
            </div>
        </div>

        <div class="SubW">
            <div class="SubDay">
                Day 2
                <div class="infoW">
                    <img src="http://openweathermap.org/img/wn/{{days?.list[1].weather[0].icon}}@2x.png" alt="WeatherImg">
                    <p>{{days?.list[1].weather[0].description}}</p>
                </div>
            </div>
            <div class="SubDay">
                Day 3
                <div class="infoW">
                    <img src="http://openweathermap.org/img/wn/{{days?.list[2].weather[0].icon}}@2x.png" alt="WeatherImg">
                    <p>{{days?.list[2].weather[0].description}}</p>
                </div>
            </div>
            <div class="SubDay">
                Day 4
                <div class="infoW">
                    <img src="http://openweathermap.org/img/wn/{{days?.list[3].weather[0].icon}}@2x.png" alt="WeatherImg">
                    <p>{{days?.list[3].weather[0].description}}</p>
                </div>
            </div>
            <div class="SubDay">
                Day 5
                <div class="infoW">
                    <img src="http://openweathermap.org/img/wn/{{days?.list[4].weather[0].icon}}@2x.png" alt="WeatherImg">
                    <p>{{days?.list[4].weather[0].description}}</p>
                </div>
            </div>
            <div class="SubDay">
                Day 6
                <div class="infoW">
                    <img src="http://openweathermap.org/img/wn/{{days?.list[5].weather[0].icon}}@2x.png" alt="WeatherImg">
                    <p>{{days?.list[5].weather[0].description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

